# Regression Models with Keras

## Introduction

As we discussed in the videos, despite the popularity of more powerful libraries such as PyToch and TensorFlow, they are not easy to use and have a steep learning curve. So, for people who are just starting to learn deep learning, there is no better library to use other than the Keras library. 

Keras is a high-level API for building deep learning models. It has gained favor for its ease of use and syntactic simplicity facilitating fast development. As you will see in this lab and the other labs in this course, building a very complex deep learning network can be achieved with Keras with only few lines of code. You will appreciate Keras even more, once you learn how to build deep models using PyTorch and TensorFlow in the other courses.

So, in this lab, you will learn how to use the Keras library to build a regression model.

## Table of Contents

<div class="alert alert-block alert-info" style="margin-top: 20px">

<font size = 3>
    
1. <a href="#item31">Download and Clean Dataset</a>  
2. <a href="#item32">Import Keras</a>  
3. <a href="#item33">Build a Neural Network</a>  
4. <a href="#item34">Train and Test the Network</a>  

</font>
</div>

<a id="item31"></a>

## Download and Clean Dataset

Let's start by importing the <em>pandas</em> and the Numpy libraries.

In [2]:
import pandas as pd
import numpy as np

We will be playing around with the same dataset that we used in the videos.

<strong>The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them. Ingredients include:</strong>

<strong>1. Cement</strong>

<strong>2. Blast Furnace Slag</strong>

<strong>3. Fly Ash</strong>

<strong>4. Water</strong>

<strong>5. Superplasticizer</strong>

<strong>6. Coarse Aggregate</strong>

<strong>7. Fine Aggregate</strong>

Let's download the data and read it into a <em>pandas</em> dataframe.

In [3]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

So the first concrete sample has 540 cubic meter of cement, 0 cubic meter of blast furnace slag, 0 cubic meter of fly ash, 162 cubic meter of water, 2.5 cubic meter of superplaticizer, 1040 cubic meter of coarse aggregate, 676 cubic meter of fine aggregate. Such a concrete mix which is 28 days old, has a compressive strength of 79.99 MPa.

#### Let's check how many data points we have.

In [4]:
concrete_data.shape

(1030, 9)

So, there are approximately 1000 samples to train our model on. Because of the few samples, we have to be careful not to overfit the training data.

Let's check the dataset for any missing values.

In [5]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [6]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

The data looks very clean and is ready to be used to build our model.

#### Split data into predictors and target

The target variable in this problem is the concrete sample strength. Therefore, our predictors will be all the other columns.

In [7]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

<a id="item2"></a>

Let's do a quick sanity check of the predictors and the target dataframes.

In [8]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [9]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

Finally, the last step is to normalize the data by substracting the mean and dividing by the standard deviation.

In [10]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

Let's save the number of predictors to *n_cols* since we will need this number when building our network.

In [11]:
n_cols = predictors_norm.shape[1] # number of predictors

<a id="item1"></a>

<a id='item32'></a>

## Import Keras

Recall from the videos that Keras normally runs on top of a low-level library such as TensorFlow. This means that to be able to use the Keras library, you will have to install TensorFlow first and when you import the Keras library, it will be explicitly displayed what backend was used to install the Keras library. In CC Labs, we used TensorFlow as the backend to install Keras, so it should clearly print that when we import Keras.

#### Let's go ahead and import the Keras library

In [1]:
import keras

Using TensorFlow backend.
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:521: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:522: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:523: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:528: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

As you can see, the TensorFlow backend was used to install the Keras library.

Let's import the rest of the packages from the Keras library that we will need to build our regressoin model.

In [12]:
from keras.models import Sequential
from keras.layers import Dense

<a id='item33'></a>

## Build a Neural Network

Let's define a function that defines our regression model for us so that we can conveniently call it to create our model.

In [13]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(50, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(50, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

The above function create a model that has two hidden layers, each of 50 hidden units.

<a id="item4"></a>

<a id='item34'></a>

## Train and Test the Network

Let's call the function now to create our model.

In [14]:
# build the model
model = regression_model()

Next, we will train and test the model at the same time using the *fit* method. We will leave out 30% of the data for validation and we will train the model for 100 epochs.

In [15]:
# fit the model
model.fit(predictors_norm, target, validation_split=0.3, epochs=100, verbose=2)

Train on 721 samples, validate on 309 samples
Epoch 1/100
 - 1s - loss: 1677.2138 - val_loss: 1166.2423
Epoch 2/100
 - 0s - loss: 1541.8690 - val_loss: 1050.3874
Epoch 3/100
 - 0s - loss: 1340.7899 - val_loss: 870.4860
Epoch 4/100
 - 0s - loss: 1041.4474 - val_loss: 634.7506
Epoch 5/100
 - 0s - loss: 683.3785 - val_loss: 399.9622
Epoch 6/100
 - 0s - loss: 393.1343 - val_loss: 246.9125
Epoch 7/100
 - 0s - loss: 268.7081 - val_loss: 192.5092
Epoch 8/100
 - 0s - loss: 238.7463 - val_loss: 183.5525
Epoch 9/100
 - 0s - loss: 224.4613 - val_loss: 180.9335
Epoch 10/100
 - 0s - loss: 211.9956 - val_loss: 174.8744
Epoch 11/100
 - 0s - loss: 202.0235 - val_loss: 171.7356
Epoch 12/100
 - 0s - loss: 193.8157 - val_loss: 167.4357
Epoch 13/100
 - 0s - loss: 187.3813 - val_loss: 166.9671
Epoch 14/100
 - 0s - loss: 182.4692 - val_loss: 165.1015
Epoch 15/100
 - 0s - loss: 177.5421 - val_loss: 160.5565
Epoch 16/100
 - 0s - loss: 172.9141 - val_loss: 160.2726
Epoch 17/100
 - 0s - loss: 169.1131 - val_loss: 160.7042
Epoch 18/100
 - 0s - loss: 165.4839 - val_loss: 160.0927
Epoch 19/100
 - 0s - loss: 161.9510 - val_loss: 157.5004
Epoch 20/100
 - 0s - loss: 159.8145 - val_loss: 156.1901
Epoch 21/100
 - 0s - loss: 156.2885 - val_loss: 158.5344
Epoch 22/100
 - 0s - loss: 154.6528 - val_loss: 157.1466
Epoch 23/100
 - 0s - loss: 151.6963 - val_loss: 158.4588
Epoch 24/100
 - 0s - loss: 149.5127 - val_loss: 158.5549
Epoch 25/100
 - 0s - loss: 147.5144 - val_loss: 159.1380
Epoch 26/100
 - 0s - loss: 145.6615 - val_loss: 160.9227
Epoch 27/100
 - 0s - loss: 143.6755 - val_loss: 157.1239
Epoch 28/100
 - 0s - loss: 141.5661 - val_loss: 158.9388
Epoch 29/100
 - 0s - loss: 140.0467 - val_loss: 157.3648
Epoch 30/100
 - 0s - loss: 138.1525 - val_loss: 161.0898
Epoch 31/100
 - 0s - loss: 136.9770 - val_loss: 158.3833
Epoch 32/100
 - 0s - loss: 135.1530 - val_loss: 160.1104
Epoch 33/100
 - 0s - loss: 133.4984 - val_loss: 158.7581
Epoch 34/100
 - 0s - loss: 132.3230 - val_loss: 158.6055
Epoch 35/100
 - 0s - loss: 130.5391 - val_loss: 161.0070
Epoch 36/100
 - 0s - loss: 129.1175 - val_loss: 161.2325
Epoch 37/100
 - 0s - loss: 128.2170 - val_loss: 161.3442
Epoch 38/100
 - 0s - loss: 126.5091 - val_loss: 158.9766
Epoch 39/100
 - 0s - loss: 125.3650 - val_loss: 157.5484
Epoch 40/100
 - 0s - loss: 123.8887 - val_loss: 159.0475
Epoch 41/100
 - 0s - loss: 121.9221 - val_loss: 159.4700
Epoch 42/100
 - 0s - loss: 119.9468 - val_loss: 160.0632
Epoch 43/100
 - 0s - loss: 118.1832 - val_loss: 159.4008
Epoch 44/100
 - 0s - loss: 116.4822 - val_loss: 157.3358
Epoch 45/100
 - 0s - loss: 114.2796 - val_loss: 158.3437
Epoch 46/100
 - 0s - loss: 112.0000 - val_loss: 159.1629
Epoch 47/100
 - 0s - loss: 108.7796 - val_loss: 156.9266
Epoch 48/100
 - 0s - loss: 106.2818 - val_loss: 156.5881
Epoch 49/100
 - 0s - loss: 103.6292 - val_loss: 159.6918
Epoch 50/100
 - 0s - loss: 100.4924 - val_loss: 157.8417
Epoch 51/100
 - 0s - loss: 98.4016 - val_loss: 158.6770
Epoch 52/100
 - 0s - loss: 95.0692 - val_loss: 158.5680
Epoch 53/100
 - 0s - loss: 92.4272 - val_loss: 158.8471
Epoch 54/100
 - 0s - loss: 89.5778 - val_loss: 161.4389
Epoch 55/100
 - 0s - loss: 86.5687 - val_loss: 157.2065
Epoch 56/100
 - 0s - loss: 83.8893 - val_loss: 157.5294
Epoch 57/100
 - 1s - loss: 81.3063 - val_loss: 165.8458
Epoch 58/100
 - 1s - loss: 78.4374 - val_loss: 157.4360
Epoch 59/100
 - 0s - loss: 76.1343 - val_loss: 155.8083
Epoch 60/100
 - 0s - loss: 73.6583 - val_loss: 162.4362
Epoch 61/100
 - 0s - loss: 71.7274 - val_loss: 158.2677
Epoch 62/100
 - 0s - loss: 69.9072 - val_loss: 162.2589
Epoch 63/100
 - 0s - loss: 67.6078 - val_loss: 155.3924
Epoch 64/100
 - 0s - loss: 66.0832 - val_loss: 166.0948
Epoch 65/100
 - 0s - loss: 63.6266 - val_loss: 157.0800
Epoch 66/100
 - 0s - loss: 60.8935 - val_loss: 164.3423
Epoch 67/100
 - 0s - loss: 59.4381 - val_loss: 160.7099
Epoch 68/100
 - 0s - loss: 57.6481 - val_loss: 162.1472
Epoch 69/100
 - 0s - loss: 55.7412 - val_loss: 163.3746
Epoch 70/100
 - 0s - loss: 54.5774 - val_loss: 166.6192
Epoch 71/100
 - 0s - loss: 52.6105 - val_loss: 165.1598
Epoch 72/100
 - 0s - loss: 51.0729 - val_loss: 161.1564
Epoch 73/100
 - 0s - loss: 49.8800 - val_loss: 159.6084
Epoch 74/100
 - 0s - loss: 48.6800 - val_loss: 168.8965
Epoch 75/100
 - 0s - loss: 47.5003 - val_loss: 157.4243
Epoch 76/100
 - 0s - loss: 46.3215 - val_loss: 167.9646
Epoch 77/100
 - 0s - loss: 45.6021 - val_loss: 164.0778
Epoch 78/100
 - 0s - loss: 45.0367 - val_loss: 156.5368
Epoch 79/100
 - 0s - loss: 43.7858 - val_loss: 165.7049
Epoch 80/100
 - 0s - loss: 43.1674 - val_loss: 159.9286
Epoch 81/100
 - 0s - loss: 42.9854 - val_loss: 151.9983
Epoch 82/100
 - 0s - loss: 42.5373 - val_loss: 154.5275
Epoch 83/100
 - 0s - loss: 41.2924 - val_loss: 160.4898
Epoch 84/100
 - 0s - loss: 41.0168 - val_loss: 166.1268
Epoch 85/100
 - 0s - loss: 40.2772 - val_loss: 157.1744
Epoch 86/100
 - 0s - loss: 39.7632 - val_loss: 169.5324
Epoch 87/100
 - 0s - loss: 39.0964 - val_loss: 151.5391
Epoch 88/100
 - 0s - loss: 38.9257 - val_loss: 163.6817
Epoch 89/100
 - 0s - loss: 39.0997 - val_loss: 149.5861
Epoch 90/100
 - 0s - loss: 38.1078 - val_loss: 154.0590
Epoch 91/100
 - 0s - loss: 37.2274 - val_loss: 154.8971
Epoch 92/100
 - 0s - loss: 36.7978 - val_loss: 155.7250
Epoch 93/100
 - 0s - loss: 36.7392 - val_loss: 151.7612
Epoch 94/100
 - 0s - loss: 35.9109 - val_loss: 154.9989
Epoch 95/100
 - 0s - loss: 35.9708 - val_loss: 153.3276
Epoch 96/100
 - 0s - loss: 35.2294 - val_loss: 156.2415
Epoch 97/100
 - 1s - loss: 34.7565 - val_loss: 154.5848
Epoch 98/100
 - 0s - loss: 34.8586 - val_loss: 154.5178
Epoch 99/100
 - 0s - loss: 34.4265 - val_loss: 148.8929
Epoch 100/100
 - 0s - loss: 34.2507 - val_loss: 158.5358

<strong>You can refer to this [link](https://keras.io/models/sequential/) to learn about other functions that you can use for prediction or evaluation.</strong>

Feel free to vary the following and note what impact each change has on the model's performance:

1. Increase or decreate number of neurons in hidden layers
2. Add more hidden layers
3. Increase number of epochs